#reviews
  @extend #screen-thirteen
  background-image: none

  .reviews
    ul
      li
        .review-item
          background-color: #fff
          border: 2px solid $greyDarkColor

        .review-author
          span
            color: $greyDarkColor
