#screen-twelve
  h2
    text-align: center
    font-size: 40px

  .fa
    margin: 0 0 0 5px

  .fa-red
    color: $redLightColor

  .link-to-photoalbum
    margin: 60px 0
    position: relative
    z-index: 10

    h3
      text-align: center

    .button-light
      margin-top: 15px

  .photoalbum
    height: 415px
    width: 100%
    background-color: $greyDarkColor
    position: relative

    .photo
      position: relative

      .p-box
        opacity: 0
        transition: all 0.2s ease
        z-index: 100
        height: 415px
        position: absolute
        top: 0
        left: 0
        background-color: rgba($greyDarkColor, 0.9)
        box-sizing: border-box
        padding: 140px 0

        p
          text-align: center
          color: #fff
          margin: 0 0 20px 0

        .button
          color: #fff
          margin: 0 45px
          width: 280px
          left: 50%
          position: relative
          margin-left: -140px

          &:hover
            color: $greyDarkColor

        &:hover
          opacity: 1
          transition: all 0.2s ease

    img
      height: 100%
      display: inline-block
      float: left
      position: relative
      user-select: none

  div.scrollWrapper
    position: relative
    overflow: hidden
    width: 100%
    height: 100%

  div.scrollableArea
    position: relative
    width: auto
    height: 100%

  .partners
    margin: 50px 0 0 0

    &::after
      content: ''
      display: block
      clear: both

    .partner-logo
      padding: 0 10px

    .logo-1
      @extend .header .logo
      float: none
      left: 50%
      margin: 0 0 0 -80px

      .logo-part-one
        color: #fff

      .logo-part-two
        bottom: 0
        right: 28px

    p
      text-align: center
      font-size: 14px
      position: relative
      top: -40px
