#screen-eighteen
  background-image: url("../images/kremlin.jpg")
  background-position: left top

  .block-inner
    padding: 0

  #registration_form.form-block
    margin: 200px auto 0
    padding: 60px 40px 50px 40px
    width: 580px
    min-height: 1100px
    background-color: #fff
    box-sizing: border-box
    color: $greyFontColor

    h2
      color: $blueColor
      margin: 0 0 0 20px

    p
      font-size: 16px
