#screen-six
  background-image: url("../images/bg_six.jpg")

  .box
    height: auto
    background-color: rgba($redLightColor, 0.9)
    border: none
    padding: 40px 0
    clearfix()

  .count
    color: #fff
    display: block
    width: 100%
    font-size: 320px
    font-family: $fontOne
    font-weight: 400
    text-align: center

  h2
    color: #fff
    text-align: center
    font-size: 48px
    margin: -10px 0 0 0

  p
    text-align: center
    font-size: 17px
    color: #fff
    margin: 2px 0 10px 0
