#screen-sixteen
  background-image: url("../images/bg_three.jpg")

  .box
    @extend #screen-fiveteen .box
    border-color: #fff

    .text
      width: 442px
      font-size: 16px
      text-align: center

    .button
      border-color: #fff

  ul.list
    margin: 0 0 0 20px

    li
      list-style-type: disc
      list-style-position: inside
      margin: 3px 0 0 0

    p
      display: inline

