#screen-one
  background-image: url("../images/bg_one.jpg")
  border-top: 2px solid $redLightColor
  border-bottom: 2px solid $redLightColor

  &.partners
    height: 160px

  h3
    margin: -5px 0 0 0

  p
    display: block
    font-family: $fontTwo

  .block-inner
    padding: 0px

  .payu
    position: relative
    top: -15px

    .payu-part-one
    .payu-part-two
      color: #fff
      font-size: 20px

    .payu-part-two
      position: absolute
      top: 0
      left: 62px

  .header
    height: 80px

    .logo
      position: relative
      width: 140px
      height: 100%
      top: -24px
      line-height: 85px
      float: left

      .logo-part-one
      .logo-part-two
        color: #fff
        font-size: 50px

      .logo-part-two
        position: absolute
        right: 19px
        top: 0px
        color: $redLightColor

    nav
      height: 100%
      float: right

      li
        line-height: 82px
        float: left
        margin: 0 12px 0 12px

        a
          font-size: 17px
          font-family: $fontTwo

          &:hover
            text-decoration: underline

    .social
      margin: 0
      height: 100%
      float: right

      li
        line-height: 80px
        float: left
        width: 16px
        margin: 0 0 0 13px

    .registration-button
      float: right
      margin: 23px 0

      .button
        font-family: $fontTwo
        margin: 0 0 0 20px

    .likes-button
      float: right
      margin: 30px 10px 0 0

      div
        margin: 0px
        float: left

  .container
    position: relative
    clearfix()

    > p
      width: 570px
      margin: 25px 0

    ul
      li
        col(1/3)

        &.active
          .line-two
            .box
              background-color: $redLightColor
              clearfix()

            .b-reg
              .button
                background-color: #fff
                color: $redLightColor

        .line-one
          height: 85px

          span
            display: block
            font-family: $fontTwo
            margin: 0 0 5px 0

          .tel
            font-size: 21px
            font-family: $fontTwo
            font-weight: bold

          .partner
            background-image: url("../images/partners/e-partner.png")
            width: 171px
            height: 28px

        .line-two
          .box
            padding: 10px 25px 25px 25px
            border-radius: 4px
            background-color: rgba(#fff, 0.2)
            clearfix()

          .b-title
            clearfix()

          .b-reg
            .button
              margin: 10px 0 0 0
              padding: 0
              font-weight: bold

          .day
            col(4/15)

          p
            col(11/15)
            position: relative
            top: 8px

  .scroll-button
    margin: 40px 0 0 0
    cursor: pointer

    span
      font-size: 18px
      display: block
      text-align: center

    .icon-scroll
      margin: 10px 0 0 0
      text-align: center
      font-size: 30px
      color: $greyDarkColor
      position: relative
      top: -25px
