#screen-twenty
  h2
    margin: 0 0 20px 0

  .message
    @extend #screen-thirteen .reviews ul li .review-item
    border-color: #fff
    margin: 60px
    width: auto

    p
      text-align: center

    .icon-quote-top
      color: $redLightColor
      @extend #screen-thirteen .reviews ul li .icon-quote-top

    .icon-quote-bottom
      color: $redLightColor
      @extend #screen-thirteen .reviews ul li .icon-quote-bottom

  .social-comment-block
    margin: 0

    &::after
      content: ''
      display: block
      clear: both

    .vk
    .fb
      float: left
      width: 392px
      padding: 0
      margin: 0px 60px
      box-sizing: border-box
      height: auto
      overflow: hidden;

    .fb-comments
      background-color: #fff

  .partners
    margin: 50px 0 0 0
    padding: 0 300px

    &::after
      content: ''
      display: block
      clear: both

    .partner-logo
      padding: 0 10px

    .logo-1
      @extend .header .logo
      float: none
      left: 50%
      margin: 0 0 0 -80px

      .logo-part-one
        color: #fff

      .logo-part-two
        bottom: 0
        right: 28px

    p
      text-align: center
      font-size: 14px
      position: relative
      top: -40px
