#screen-one
  height: 750px
  background-image: url("../images/bg_one.jpg")

  &.partners
    height: 160px

  h3
    margin: -5px 0 0 0

  .block-inner
    padding: 0px

  .payu
    position: relative
    top: -15px

    .payu-part-one
    .payu-part-two
      color: #fff
      font-size: 20px

    .payu-part-two
      position: absolute
      top: 0
      left: 62px

  .header
    height: 80px

    .logo
      position: relative
      width: 170px
      height: 100%
      top: -35px
      line-height: 85px
      float: left

      .logo-part-one
      .logo-part-two
        color: #fff
        font-size: 60px

      .logo-part-two
        position: absolute
        right: 25px
        top: 0px
        color: $redLightColor

    nav
      height: 100%
      float: right

      li
        line-height: 82px
        float: left
        margin: 0 15px 0 15px

        a
          font-size: 20px
          text-transform: uppercase

          &:hover
            text-decoration: underline

    .social
      margin: 0
      height: 100%
      float: right

      li
        line-height: 80px
        float: left
        width: 16px
        margin: 0 0 0 13px

    .likes-button
      float: right
      margin: 30px 10px 0 0

      div
        margin: 0px
        float: left

  .box
    position: relative

    ul
      margin: 30px 0 0 0

      li
        float: left

        &:nth-child(1)
          width: 287px

        &:nth-child(2)
          width: 230px

        &:nth-child(3)

        span
          display: block
          font-size: 18px
          margin: 0 3px 3px 0

        p
          position: relative
          top: 2px

        .count
          float: left
          font-size: 30px

      &.two-coll
        li
          width: 50%

          &:last-child
            text-align: right

            span
              display: block
              width: 100%

  .scroll-button
    margin: 40px 0 0 0
    cursor: pointer

    span
      font-size: 18px
      display: block
      text-align: center

    .icon-scroll
      margin: 10px 0 0 0
      text-align: center
      font-size: 30px
      color: $greyDarkColor
      position: relative
      top: -25px
