#screen-six
  background-image: url("../images/bg_four.jpg")

  .block-inner
    padding-top: 90px

  .box
    height: 570px
    background-color: rgba(#319bce, 0.9)
    border: none
    padding-top: 40px

  .count
    color: #fff
    display: block
    width: 100%
    font-size: 320px
    font-weight: bold
    text-align: center

  h1
    color: #fff
    text-align: center
    margin: -20px 0 0 0

  p
    text-align: center
    color: #fff
    margin: 2px 0 10px 0
