#screen-three
  .column
    col(1/2)

    &:last-child
      ul
        margin: 75px 0 0 0

  ul
    margin: 50px 0 0 0

    li
      clearfix()
      margin: 0 0 40px 0

      p
        font-size: 16px

      span
        col(2/8)
        display: block
        font-size: 38px
        color: $greyDarkColor
        border: 2px solid $greyDarkColor
        border-radius: 5px
        box-sizing: border-box
        text-align: center
        padding: 10px 0
        width: 80px

  .slogan
    clear: both
    padding: 0 280px
    display: block
    text-align: center
