#screen-twelve
  h2
    text-align: center
    font-size: 40px

  .photoalbum
    height: 415px
    width: 100%
    background-color: $greyDarkColor
    position: relative
    margin: 0 0 200px 0

    img
      height: 415px
      display: inline-block
      float: left
      position: relative
      user-select: none

  div.scrollWrapper
    position: relative
    overflow: hidden
    width: 100%
    height: 100%

  div.scrollableArea
    position: relative
    width: auto
    height: 100%
