#screen-ten
  .icon-person
    float: left
    font-size: 340px
    margin: -180px 0 0 0

  ul
    float: right
    width: 640px
    position: relative
    margin: 50px 0 0 0

    li
      height: 110px

      &:last-child
        height: auto

      span
        col(2/8)
        display: block
        font-size: 38px
        color: $greyDarkColor
        border: 2px solid $greyDarkColor
        border-radius: 5px
        box-sizing: border-box
        text-align: center
        padding: 10px 0
        width: 80px
