#screen-eleven
  .banner-block
    height: 270px
    position: relative
    margin: 50px 0 0 0

    p
      display: block
      width: 350px
      position: absolute

      &.text-1
        top: 0
        left: 0

      &.text-2
        top: 0
        right: 0
        text-align: right

      &.text-3
        bottom: 0
        left: 0

      &.text-4
        bottom: 0
        right: 0
        text-align: right

  .clock
    width: 300px
    height: 300px
    position: absolute
    left: 50%
    top: -100px
    margin-left: -150px
    margin-top: -150px

    .icon-clock
    .icon-clock-in
      position: absolute
      font-size: 300px
      top: 0
      left: 0

    .icon-clock
      color: #fff

    .icon-clock-in
      color: $redLightColor
      left: 20px
