#screen-nineteen
  .block-inner
    h2
      float: left

    .button
      float: left
      width: 280px
      max-width: 280px
      margin: 15px 15px 15px 30px

    p
      clear: both
      padding: 30px 0 0 0
