#screen-eleven
  .banner-block
    height: 270px
    position: relative
    margin: 50px 0 0 0

    p
      display: block
      width: 350px
      position: absolute

      &.text-1
        top: 0
        left: 0

      &.text-2
        top: 0
        right: 0
        text-align: right

      &.text-3
        bottom: 0
        left: 0

      &.text-4
        bottom: 0
        right: 0
        text-align: right

  .clock
    width: 240px
    height: 240px
    position: absolute
    left: 50%
    top: 15px
    margin-left: -120px
    margin-top: -180px

    .icon-clock
    .icon-clock-in
      position: absolute
      font-size: 240px
      top: 0
      left: 0

    .icon-clock
      color: $blueColor

    .icon-clock-in
      color: $blueLightColor
      left: 20px
