#screen-two
  .comment
    margin: 0 100px

    .column-pic
      col(3/20)

      .person
        background-image: url('../images/persons/3.jpg')
        background-position: center 0px
        background-size: cover
        width: 104px
        height: 104px
        border-radius: 50%
        box-sizing: border-box

    .column-text
      col(17/20)

    p
      font-family: $fontOne

    span
      display: block
      margin: 10px 0 0 0
