doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=0.3')
    meta(property="fb:admins", content="1695571811")
    meta(property="fb:app_id", content="{YOUR_APPLICATION_ID}")
    title Практика Days
    //- fonts
    | <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
    | <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
    //- styles
    | <link rel="stylesheet" href="/stylesheets/fontcustom.css">
    | <link rel="stylesheet" href="/stylesheets/font-awesome.css">
    | <link rel="stylesheet" href="/stylesheets/style.css">
    //- libraries
    | <script type='text/javascript' src='/scripts/libs/jquery-2.1.1.min.js'></script>
    | <script type='text/javascript' src='/scripts/libs/jquery.browser.min.js'></script>
    | <script type='text/javascript' src='/scripts/libs/jquery-ui-1.10.3.custom.min.js'></script>
    | <script type='text/javascript' src='/scripts/libs/jquery.kinetic.min.js'></script>
    | <script type='text/javascript' src='/scripts/libs/jquery.smoothTouchScroll.min.js'></script>
    | <script type='text/javascript' src='/scripts/libs/jquery.images-ready.js'></script>
    | <script type='text/javascript' src='/scripts/libs/jquery.easing.1.3.js'></script>
    | <script type='text/javascript' src='/scripts/libs/moment.min.js'></script>
    //- additional scripts
    | <script src="//vk.com/js/api/openapi.js" type="text/javascript" charset="windows-1251"></script>
    | <script type="text/javascript">VK.init({apiId: 4373980, onlyWidgets: true});</script>
    //- app scripts
    | <script type='text/javascript' src='/scripts/app.js'></script>
    | <script type='text/javascript' src='/scripts/models/form.js'></script>
    | <script type='text/javascript' src='/scripts/views/main_view.js'></script>

  body
    | <div id="fb-root"></div>
    | <script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.0";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
    .pop-up#call_form
      .pop-up-inner
        .close-pop-up &times;
        form
          h2 Связаться с организатором
          p
            | Оставьте нам свой контактный телефон и мы свяжемся с вами в ближайшее время. Также вы можете позвонить нам на +7 (495) 726-09-39
          .field
            label Ваше Имя:
            input(type="name" name="Имя")
          .field
            label Телефон:
            input(type="tel" name="Телефон")
          input(type="submit" value="Продолжить")


    .pop-up#partner_form
      .pop-up-inner
        .close-pop-up &times;
        form
          h2.partner-h2 Стать партнером
          .field
            label Ваше Имя:
            input(type="name" name="Имя")
          .field
            label Название компании:
            input(type="name" name="Компания")
          .field
            label Телефон:
            input(type="tel" name="Телефон")
          input(type="submit" value="Отправить заявку")


    header.header.transparent
      .header-inner
        a(href='/' class='logo')
          div(class='logo-part-one icon-logo-1')
          div(class='logo-part-two icon-logo-2')
        .registration-button
          .button.reg-button Регистрация
        ul.social
          li
            a(href="http://instagram.com/internetpraktika" target="_blank" class="inst icon-insta")
          li
            a(href="https://vk.com/public71012625" target="_blank" class="vk icon-vk")
          li
            a(href="https://www.facebook.com/praktikadays?ref=hl" target="_blank" class="fb icon-fb")
        nav
          ul
            li
              a(class="presenters-button") Выступающие
            li
              a(class="map-button") Место проведения
            li
              a(class="about-button") О Нас
            li
              a(href="/partners.html") Партнеры
            li
              a(href="#") Блог
            li
              a(href="/reviews.html") Отзывы


    section#screen-one(class='block black-block')
      .block-color
        .block-inner
          .container
            h2
              | <span class='white-selection'>ПрактикаDays.</span><br>Главное практическое<br><span class='white-selection'>мероприятие</span><br>по интернет-торговле
            p
              | 4 октября 2014 года уже в третий раз пройдет ПрактикаDays, культовое мероприятие, на котором каждый раз новые 15 владельцев интернет-магазинов рассказывают о том, как они создавали и развивали свои интернет-магазины, о своих успехах и провалах, делятся практическим опытом, секретами и фишками онлайн-торговли.
            ul
              li.active.days-count
                .line-one
                  span В рамках
                  .partner
                .line-two
                  .box
                    .b-title
                      h2.day
                      p
                        | <span class='day-text'></span> до начала мероприятия в Москве
                    .b-reg
                      .button.reg-button Регистрация участников
              li.inactive
                .line-one
                  span Для справок
                  .tel +7 (495) 726-09-39
                .line-two
                  .box
                    .b-title
                      h2.day __
                      p Дня до начала мероприятия в СПб
                    .b-reg
                      .button.reg-button Регистрация участников
              li.inactive
                .line-one
                  span Расскажи друзьям
                  .likes-button
                    .vk-like
                      | <div id="vk_like"></div>
                      | <script type="text/javascript">VK.Widgets.Like("vk_like", {type: "mini"});</script>
                    .fb-like
                      | <div class="fb-like" data-href="https://praktikadays.ru" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                .line-two
                  .box
                    .b-title
                      h2.day __
                      p Дня до начала мероприятия в Казани
                    .b-reg
                      .button.reg-button Регистрация участников


    section#screen-two(class='block black-block scroll-screen')
      .block-color.dark-block-color
        .svg-section
          svg(height="600" width="270")
            line(x1="270" y1="0" x2="0" y2="600")
          svg(height="600" width="270")
            line(x1="270" y1="0" x2="0" y2="600")
        .block-inner
          .comment
            .column-pic
              .person
            .column-text
              p
                | В то время, как многие ходили по различным конференциям, слушали рассказы теоретиков и супер-звезд российского e-commerce, эти 15 предпринимателей работали над своими проектами. 
              span.red-selection Борис Преображенский


    section#screen-three(class='block white-block')
      .svg-section
        svg(height="600" width="270")
          line(x1="270" y1="0" x2="0" y2="600")
        svg(height="600" width="270")
          line(x1="270" y1="0" x2="0" y2="600")
        svg(height="600" width="270")
          line(x1="270" y1="0" x2="0" y2="600")
      .block-inner
        h2
          | От <span class='red-selection'>15</span> практиков вы узнаете
        .column
          ul
            li
              span 01
              p
                | Как они создавали свои магазины — выбирали тематику, с чего начинали и с какими сложностями сталкивались
            li
              span 02
              p
                | Секреты работы с персоналом — как нанимать и увольнять сотрудников
            li
              span 03
              p
                | Как копили и занимали деньги на запуск, находили инвесторов
            li
              span 04
              p
                | Где найти надежных партнеров, выстроить выгодные отношения с ними и не разойтись в первые месяцы работы
            li
              span 05
              p
                | А также, как они бороли свои страхи и находили выход из самых сложных ситуаций
        .column
          ul
            li
              span 06
              p
                | Каким образом они организуют работу с поставщиками, строят и оптимизируют логистику, ведут бухгалтерский учет и решают вечные проблемы с IT
            li
              span 07
              p
                | Как делать эффективную рекламу, развивать продажи, самостоятельно организовывать импорт товаров, производство и открыть розницу
            li
              span 08
              p
                | Что нужно для правильной автоматизации процессов
            li
              span 09
              p
                | Какие маркетинговые инструменты оказались эффективными, а какие чуть не разорили их


    section#screen-seven(class='block black-block about-screen')
      .block-color
        .svg-section
          svg(height="600" width="270")
            line(x1="270" y1="0" x2="0" y2="600")
          svg(height="600" width="270")
            line(x1="270" y1="0" x2="0" y2="600")
          svg(height="600" width="270")
            line(x1="270" y1="0" x2="0" y2="600")
          svg(height="600" width="270")
            line(x1="270" y1="0" x2="0" y2="600")
        .block-inner
          h2
            | <span class='white-selection'>Организаторы</span> и ведущие мероприятия
          ul.org-column
            li
              .photo-circle
              h4 Давлет Сулейманов
              a(class='link' href="http://www.rezedasuleyman.com/") http://www.rezedasuleyman.com/
              ul.social
                li
                  a(href="http://instagram.com/davlet" target="_blank" class="inst icon-insta")
                li
                  a(href="https://vk.com/id184504188" target="_blank" class="vk icon-vk")
                li
                  a(href="https://www.facebook.com/s.davlet" target="_blank" class="fb icon-fb")
              p
                | Бывший владелец сети интернет-магазинов посуды. Создал сеть из 18 брендовых сайтов, развил ее и успешно продал. Возглавлял интернет-магазин Групона. Создал с нуля бренд на рынке дизайнерской  одежды в России, наладил производство и создал сеть розничных магазинов.
            li
              .photo-circle
              h4 Борис Преображенский
              a(class='link' href="http://preboris.ru/") http://preboris.ru/
              ul.social
                li
                  a(href="http://instagram.com/preboris" target="_blank" class="inst icon-insta")
                li
                  a(href="https://vk.com/preboris" target="_blank" class="vk icon-vk")
                li
                  a(href="https://www.facebook.com/preboris?fref=ts" target="_blank" class="fb icon-fb")
              p
                | В разное время Борис являлся создателем, владельцем или совладельцем компаний: ForOffice.ru — крупнейшего поставщика печатного и полиграфического оборудования, Швейные Технологии SewTech.ru, Mir-Karcher.ru — крупнейшего интернет-магазина оборудования Karcher, Лайф Кафе, производства пиломатериалов Лесорубка.ру, типографии ZiPrint, интернет-магазина Genergy.ru, сервисной компании Воздушник, онлайн b2b-портала Rusmarket.ru, крупнейшего московского свадебного салона, рекламного агентства Новые Линии Продвижения, поставщика печатного 3D оборудования 3dplotter.ru, многих других различных интернет-магазинов и онлайн-проектов


    section#screen-eight(class='block white-block presenters-screen')
      .svg-section
        svg(height="600" width="270")
          line(x1="270" y1="0" x2="0" y2="600")
        svg(height="600" width="270")
          line(x1="270" y1="0" x2="0" y2="600")
        svg(height="600" width="270")
          line(x1="270" y1="0" x2="0" y2="600")
        svg(height="600" width="270")
          line(x1="270" y1="0" x2="0" y2="600")
      .block-inner
        h2
          | На <span class='red-selection'>мероприятии</span> выступят
        ul.org-list
          li
            .circle-block
              .circle
              .logo
            .text-block
              a(class="name" target="_blank" href="#")
                span 01
                | Владимир Сурков и Юлия Гессер
              a(class="red-selection" target="_blank" href="http://brashop.ru") http://brashop.ru
              p
                | Юлия - владелец и главный идеолог интернет-магазина нижнего белья для женщин с большим бюстом Brashop.ru. Находясь в декретном отпуске, врач по образованию Юлия столкнулась с проблемой отсутствия выбора качественного и недорогого белья для груди большого размера. Для этой проблемы было найдено интересное решение, которое надолго обеспечило ее бельем, - Юля открыла интернет-магазин. Юлия расскажет историю своего интернет-магазина, о неожиданных тонкостях, с которыми она столкнулась, о том, как здорово, когда муж интернет-маркетолог, а также о нестандартных онлайн и офлайн рекламных каналах, которые помогли в развитии магазина.
          li
            .circle-block
              .circle
              .logo
            .text-block
              a(class="name" target="_blank" href="#")
                span 02
                | Егор Уваров
              a(class="red-selection" target="_blank" href="http://skazkipro.com") http://skazkipro.com
              p
                | Егор является совладельцем Aromatel.ru (нишевая российская косметика), интернет-магазина подарочных книг для детей Skazkipro.com, а также владельцем разорившегося ныне Karapuzon.ru. Егор расскажет, каково это - издавать персонализированные книги для детей, как привлекать клиентов в этот «сложно-описываемый в двух словах» бизнес, о трудностях, через которые прошел этот магазин и о планах на будущее. Также Егор расскажет историю разорения своего первого интернет магазина с анализом причин и советами тем, кто не хочет повторить его судьбу.
          li
            .circle-block
              .circle
              .logo
            .text-block
              a(class="name" target="_blank" href="#")
                span 03
                | Дмитрий Бавинов
              a(class="red-selection" target="_blank" href="http://unizoo.ru") http://unizoo.ru
              p
                | Дмитрий выступал на первой ПрактикаDays в марте 2014. Тогда его магазину зоотоваров было всего полгода, за которые он вырос до 100 заказов в день. Дмитрий решил множество проблем с разработчиками, построил логистику и узнал много о том, какие бывают сложности у быстро растущего интернет-магазина. Прошло еще полгода, магазин вырос уже до 150 заказов в день и по выручке превысил 10 млн рублей в месяц, но теперь магазин Дмитрия столкнулся с новыми сложностями: персонал, нехватка оборотных средств, сложности в масштабировании логистики. Как он успешно или не очень справляется с трудностями, а также, какие строит планы на будущее? Как общался с потенциальными инвесторами? Всё это он и расскажет на ПрактикаDays 4 октября.
          li
            .circle-block
              .circle
              .logo
            .text-block
              a(class="name" target="_blank" href="#")
                span 04
                | Дмитрий Коробицын
              a(class="red-selection" target="_blank" href="http://p5s.ru") http://p5s.ru
              a(class="red-selection" target="_blank" href="http://stripmag.ru") http://stripmag.ru
              p
                | Бизнес-модель, подаренная временем или «Агрегатор-поставщиков = минимальная цена и гарантированный сток». Многие переходят из веб-разработки в e-commerce. В 2008 год Дмитрий Коробицын вышел из состава учредителей WebProfy и занялся продажей товаров для взрослых. За прошедшие 6 лет был и импорт, и запуск спецпроектов, и эксперименты с розницей. Сегодня компания Дмитрия – крупнейший дистрибутор товаров для взрослых в России, предлагающий гарантированно одну из самых низких цен на рынке, самый широкий и стабильный ассортимент. Как такое возможно? Весь рынок товаров для взрослых - это несколько десятков тысяч наименований. Не секрет, что объем продаж практически прямо-пропорционален широте ассортимента, поэтому компания активно подключала в работу всех значимых поставщиков, работающих в России. В результате, на сегодня товарная полка «Поставщика счастья» является объединением товарных матриц всех основных игроков рынка. Из рассказа Дмитрия вы узнаете, какие основные сложности возникают при объединении различных баз поставщиков, какова при этом экономия и какую цену за организацию такой логистики приходится платить.
          li
            .circle-block
              .circle
              .logo
            .text-block
              a(class="name" target="_blank" href="#")
                span 05
                | Юлия Соловьева
              a(class="red-selection" target="_blank" href="http://belolap.ru") http://belolap.ru
              p
                | В 2010 году Юлия предложила своей подруге, известному художнику и блогеру Яне Франк (miumau), рассмотреть возможность того, чтобы ее иллюстрации существовали не только как картины, а стали товарами, которые можно носить на себе или украшать ими интерьер. Яна с готовностью восприняла эту идею, в результате чего родился интернет-магазин «Белолапик», который за без малого четыре года существования выпустил более 400 собственных товаров (в среднем по товару в неделю). На самом деле это не просто магазин, а целое предприятие, где товар проходит стадии от идеи до получения на склад готового тиража. Поскольку каждый товар уникален и продается только в данном магазине, то прямых конкурентов у него нет. Какие в этом плюсы и минусы в плане позиционирования и продвижения Юлия расскажет на ПрактикаDays. Кстати, весь магазин по-прежнему, как и вначале, обслуживает один человек, хотя дневное количество заказов может превышать 50.
          li
            .circle-block
              .circle
              .logo
            .text-block
              a(class="name" target="_blank" href="#")
                span 06
                | Ольга Суворова
              a(class="red-selection" target="_blank" href="http://nebo.ru") http://nebo.ru
              p
                | Ольга Суворова работала в консалтинговой компании «большой четвёрки», а во время кризиса 2008 года она рискнула и открыла онлайн-магазин ювелирных изделий. Он вышел на окупаемость за три месяца, а сейчас «Небо в алмазах» — самый крупный в России онлайн-ретейлер украшений, который весьма успешно работает на сложном рынке, конкурируя с крупными игроками - розничными сетями. К 2015 году компания планирует выйти на оборот более 3 миллионов долларов в месяц.
          li
            .circle-block
              .circle
              .logo
            .text-block
              a(class="name" target="_blank" href="#")
                span 07
                | Леонид Левданов
              a(class="red-selection" target="_blank" href="http://glamglam.ru") http://glamglam.ru
              p
                | Леонид начинал с интернет-магазина держателей для сумок. Очень узкая ниша, которая сработала, но, как и все ниши, имела срок годности тренда. Поэтому дальше магазин развивался в том числе и за счет расширения ассортимента, в который добавились украшения и подарки. 50 процентов выручки магазина приходится на оптовые продажи. Леонид расскажет историю создания своего магазина и о больших планах по его дальнейшему развитию.
          li
            .circle-block
              .circle
              .logo
            .text-block
              a(class="name" target="_blank" href="#")
                span 08
                | Александра Бровчук
              a(class="red-selection" target="_blank" href="http://kinderly.ru") http://kinderly.ru
              p
                | В 2011 выйдя из компании InSales (в которой была сооснователем), Александра стала создавать Kinderly.ru - интернет-магазин детских товаров. В первый месяц работы (октябрь 2011) оборот Киндерли составил 1,8 млн рублей, но потом стал снижаться. С тех пор компания растет в 3-3.5 раза каждый год. «Начинали мы с продажи детской одежды и обуви. На старте мы полагали, что бизнес будет сильно проще, был очевидно большой спрос, очень разрозненный рынок, отсутствие явно лидирующего магазина на рынке, да и вообще, интернет был заполнен магазинами с мобильными телефонами на сайте, страшными фотографиями товаров и очень ограниченным ассортиментом. Реальность оказалась гораздо сложнее. Вот по каким граблям прошлись и в какой момент, что не учли, как с этим справились, в чем угадали момент, а где нас чутье подвело - я и расскажу», обещает Александра.Так же мы услышим, о том, как эти годы развивалась компания, в чем были основные ошибки, и что сделали наоборот правильно, какие приоритеты были на каждом этапе: доставка/организация работы склада/ассортимент/маркетинг/контент. Mail marketing. В Киндерли от 25 до 40% выручки приносят рассылки, что мы делали и делаем. Будут ли рассылки в текущем виде давать эффект через год и как мы готовимся к изменениям в этом канале.
          li
            .circle-block
              .circle
              .logo
            .text-block
              a(class="name" target="_blank" href="#")
                span 09
                | Юлия Горелова
              a(class="red-selection" target="_blank" href="http://7kapel.ru") http://7kapel.ru
              a.simple-link и многие другие
              p
                | Юлия - основатель и владелец интернет-магазина сантехники 7kapel.ru, а также сети монобрендовых магазинов бытовой техники. С 2009 по 2012 год, занимаясь развитием магазина сантехники, когда оборот в месяц достиг 2 000 000 рублей, а чистая прибыль составляла порядка 20 000, поняла, что нужно что-то менять. В 2012 году был создан первый монобрендовый магазин zigmound-and-shtain.ru, который в первый же месяц сделал оборот в 200 000, а чистую прибыль 30 000 рублей. С 2012 года были запущены еще 4 магазина. Чистая прибыль на данный момент составляет 300-500 тысяч в месяц в зависимости от сезона при практически полном аутсорсинге обслуживания магазинов. На ПрактикаDays Юлия расскажет историю своих магазинов, о том, как ей удалось отстоять право использования в одном домене названия бренда, а другой домен и все потраченные на магазин деньги были потеряны. Расскажет о плюсах и минусах создания монобрендовых магазинов, а также о перспективах их развития в ближайшие годы.
          li
            .circle-block
              .circle
              .logo
            .text-block
              a(class="name" target="_blank" href="#")
                span 10
                | Тимур Шаков и Сергей Балакирев
              a(class="red-selection" target="_blank" href="http://deoshop.ru") http://deoshop.ru
              p
                | Начиналось все с 1 товара. Прадедушка Deoshop.ru состоял из одной страницы, где даже не было кнопки "купить"! Но это пол беды - не было курьерской доставки по Москве, только Почта России. В своем развитии интернет-магазин прошел много этапов и изменений, которые затрагивали как организационные моменты, так и технические. Сегодня интернет-магазин Desohop.ru входит в ТОП-3 магазинов Рунета по продаже косметики с посещаемостью около 150 000 в месяц, 12 000 SKU и отличается небольшой высокоэффективной командой.
          li
            .circle-block
              .circle
              .logo
            .text-block
              a(class="name" target="_blank" href="#")
                span 11
                | Владимир Сюткин
              a(class="red-selection" target="_blank" href="http://zont.net") http://zont.net
              p
                | Начиная полтора года назад свое маленькое дело по продаже зонтов, Владимир не знал ничего о торговле, продажах сезонного товара и организации собственного дела. Однако, стоит заметить, что с нуля начинать невозможно, так как для начала нужно иметь хотя бы желание. Но, когда планов неоправданно много, то и ошибок совершается тоже не мало. Продав на 1 300 000, магазин ушел в минус на 100 000 рублей. Владимир на ПрактикаDays расскажет о своем опыте, как побороть свои страхи и начать свой бизнес, как избежать глупых (но для многих не очевидных) ошибок, как совместить работу по найму и ведение собственного дела и, главное, - расскажет, почему набивать шишки - это полезно!
          li
            .circle-block
              .circle
              .logo
            .text-block
              a(class="name" target="_blank" href="#")
                span 12
                | Станислав Яковенко
              a(class="red-selection" target="_blank" href="http://medvedy.com") http://medvedy.com
              a(class="red-selection" target="_blank" href="http://itoys.su") http://itoys.su
              p
                | Последние 7 лет Станислав ведет успешный бизнес в сфере строительства и торговли строительными материалами на территории Сибири. Год назад он принял решение заняться интернет торговлей и запустил интернет проекты itoys.su и ставший уже легендарным medvedy.com (лэндинг Миха). В разработке проекта «Миха» перед Станиславом стояла задача создать интересный продукт, выделяющейся из общей серой массы, имеющий вирусный эффект. На создание и реализацию проекта потребовалось 1,5 месяца, 12 человек и 1 500 000 руб. Запуск проекта состоялся 1 марта 2014 года. На сегодняшний день проект полностью окупился и находиться в стадии бурного роста.
          li
            .circle-block
              .circle
              .logo
            .text-block
              a(class="name" target="_blank" href="#")
                span 13
                | Сергей Пономарев
              a(class="red-selection" target="_blank" href="http://dermalight.ru") http://dermalight.ru
              p
                | Компания Сергея была создана 4 года назад. Dermalight.ru - не только интернет-магазин, это компания, которая является разработчиком и производителем прибора для лечения псориаза, витилиго и ряда других кожных заболеваний. Помимо онлайн продаж компания поддерживает научную работу, сотрудничает с производителями препаратов для лечения кожных болезней, а в ближайшее время готовится к производству линейки средств для лечения и профилактики обострений псориаза. Второе направление деятельности компании - это продажа средств гиалуроновой кислоты для внутрисуставных инъекций. Нишевый интернет-магазин, которому на данный момент месяц, но он уже показывает совсем неплохие результаты.
          li
            .circle-block
              .circle
              .logo
            .text-block
              a(class="name" target="_blank" href="#")
                span 14
                | Дмитрий Байдацкий
              a(class="red-selection" target="_blank" href="http://groupprice.ru") http://groupprice.ru
              p
                | Дмитрий совладелец и руководитель интернет-магазина выгодных покупок №1 GroupPrice.ru. Изначально магазин задумывался, как сервис совместных покупок. За 3 года (столько существует проект) пришлось несколько раз поменять бизнес-модель и много чего попробовать. Сейчас проект работает по модели обычного интернет-магазина, но, благодаря тестированию бизнес-моделей и новых идей на всех участках работы, сейчас проект из сервиса совместных покупок и сборки заказов дома вырос в магазин с выручкой более 8 млн. рублей в месяц (более 3000 заказов в месяц). Конечно, текущие результаты - это не предел. Дмитрий расскажет, что за эти три года сделано, как и почему менялась бизнес-модель, какие источники финансирования проекта он использовал, расскажет о планах на будущие и о том, какие направления он считает перспективными и планирует открывать.
          li
            .circle-block
              .circle
              .logo
            .text-block
              a(class="name" target="_blank" href="#")
                span 15
                | Лидия Серегина
              a(class="red-selection" target="_blank" href="http://www.seryogina.com") http://www.seryogina.com
              p
                | Лидия Серегина, владелец портала о натуральных растительных продуктах. ООО "Серегина.ру" принадлежит портал о практиках здорового питания (Seryogina.ru), а также интернет-магазин (Seryogina.com), где можно купить натуральные продукты питания растительного происхождения оптом и в розницу. Компания существует с 2005 года, на сегодняшний день ассортимент интернет-магазина — около 700 позиций, в том числе продукты под собственными марками Seryogina и Toba. Заказов в день магазин исполняет примерно 25-40, средний чек колеблется от 2 до 4 тысяч рублей. Лидия расскажет о становлении интернет-магазина, особенностях рынка здорового питания и трудностях, с которыми сталкивалась в процессе работы.


    section#screen-six(class='block white-block')
      .svg-section
        svg(height="600" width="270")
          line(x1="270" y1="0" x2="0" y2="600")
        svg(height="600" width="270")
          line(x1="270" y1="0" x2="0" y2="600")
      .block-inner
        .box
          span.count 15
          h2 Реальных историй
          p от владельцев интернет-магазинов
          br
          p
            | Секреты и фишки. Страхи и воля к победе. <br>
            | Откровенные провалы и ошеломительные успехи. <br>
            | Вы услышите всё!


    section#screen-five(class='block white-block')
      .svg-section
        svg(height="600" width="270")
          line(x1="270" y1="0" x2="0" y2="600")
        svg(height="600" width="270")
          line(x1="270" y1="0" x2="0" y2="600")
      .block-inner
        h3
          | Я уже готов пойти
        div(class="button button-dark reg-button") Регистрация участников


    section#screen-four(class='block black-block')
      .block-color
        .svg-section
          svg(height="600" width="270")
            line(x1="270" y1="0" x2="0" y2="600")
        .block-inner
          h2
            | Вы узнаете о <span class='white-selection'>разных путях</span><br>15 интернет — предпринимателей:
          ul
            li
              .circle
                i.icon-icon-1
              p
                | Как открывать магазин без бюджета, на кредитные или инвестиционные деньги
            li
              .circle
                i.icon-icon-2
              p
                | Возможно ли совмещать магазин с основной работой или вовсе бросить всё
            li
              .circle
                i.icon-icon-3
              p
                | Как создать крупный интернет-магазин с большим штатом сотрудников или делать успешный интернет-магазин из дома
            li
              .circle
                i.icon-icon-4
              p
                | Способы ухода из оффлайна в онлайн и как из онлайна расширять бизнес в оффлайн


    section#screen-ten(class='block white-block')
      .svg-section
        svg(height="600" width="270")
          line(x1="270" y1="0" x2="0" y2="600")
        svg(height="600" width="270")
          line(x1="270" y1="0" x2="0" y2="600")
      .block-inner
        h2
          | Кому <span class='red-selection'>важно</span> пойти
        .icon-person
        ul
          li
            span 01
            p
              | Тем, кто только задумывается об открытии интернет-магазина: мероприятие поможет понять, нужно ли вам это, готовы ли вы пройти через все эти сложности и, если готовы, то, как и с чего следует начать.
          li
            span 02
            p
              | Начинающим интернет-магазинщикам: вы получите ответы на актуальные вопросы, узнаете, как избежать ошибок и каким курсом вам двигаться дальше.
          li
            span 03
            p
              | Опытным предпринимателям: вы сможете обменяться опытом с коллегами и обогатить свой арсенал новыми «фишками».
          li
            span 04
            p
              | Всем интересующимся интернет-торговлей: на целый день вы погрузитесь в тему интернет-торговли и существенно расширите свои познания в одной из самых актуальных и перспективных на сегодня тем.
          li
            span 05
            p
              | Всем сотрудникам интернет-магазинов, кто хочет расти, расширять свой кругозор и учиться на чужом опыте. 


    section#screen-eleven(class='block black-block')
      .block-color
        .svg-section
          svg(height="600" width="270")
            line(x1="270" y1="0" x2="0" y2="600")
          svg(height="600" width="270")
            line(x1="270" y1="0" x2="0" y2="600")
        .block-inner
          h2
            | Всего за <span class='white-selection'>1 день</span>
          .banner-block
            .clock
              .icon-clock-in
              .icon-clock
            p.text-1
              | Вы познакомитесь абсолютно со всеми <br>аспектами жизни интернет-магазина <br> и его владельца. Вы где-то еще <br> такое встречали? 
            p.text-2
              | Вы получите исчерпывающие ответы на любые вопросы от 15 опытных интернет-магазинщиков;
            p.text-3
              | Вы окунетесь в разные тематики, <br> разные форматы интернет-магазинов;
            p.text-4
              | Заведете много интересных <br> и полезных знакомств. 


    section#screen-twelve(class='block white-block')
      .svg-section
        svg(height="600" width="270")
          line(x1="270" y1="0" x2="0" y2="600")
        svg(height="600" width="270")
          line(x1="270" y1="0" x2="0" y2="600")
      .block-inner
        h2
          | Фотографии с прошлого <span class='red-selection'>Практика Days</span>
      .album-container
        #photoalbum.photoalbum
          img(src='../images/photo/1.jpg')
          img(src='../images/photo/2.jpg')
          img(src='../images/photo/3.jpg')
          img(src='../images/photo/4.jpg')
          img(src='../images/photo/5.jpg')
          img(src='../images/photo/6.jpg')
          img(src='../images/photo/7.jpg')
          img(src='../images/photo/8.jpg')
          img(src='../images/photo/9.jpg')
          img(src='../images/photo/10.jpg')
          img(src='../images/photo/11.jpg')
          img(src='../images/photo/12.jpg')
          img(src='../images/photo/13.jpg')
          img(src='../images/photo/14.jpg')
          img(src='../images/photo/15.jpg')
          img(src='../images/photo/16.jpg')
          img(src='../images/photo/17.jpg')
          img(src='../images/photo/18.jpg')
          .p-box
            p Отмечайте себя и смотрите<br>комментарии ко всем фотографиям<br>в нашем альбоме в Facebook
            a(target="_blank" href='https://www.facebook.com/praktikadays/photos_stream?tab=photos_albums' class='button')
              | Посмотреть все фото
              i(class="fa fa-arrow-right fa-red")
        </div>
        .link-to-photoalbum
          h3
            | Не нашли себя?
          a(target="_blank" href="https://www.facebook.com/praktikadays/photos_stream?tab=photos_albums" class="button button-dark reg-button")
            | Посмотреть все фото
            | <i class="fa fa-arrow-right"></i>

    section#screen-thirteen(class='block black-block')
      .block-color
        .svg-section
          svg(height="600" width="270")
            line(x1="270" y1="0" x2="0" y2="600")
          svg(height="6000" width="2700")
            line(x1="2700" y1="0" x2="0" y2="6000")
          svg(height="600" width="270")
            line(x1="270" y1="0" x2="0" y2="600")
        .block-inner
          h2
            | Что говорят о прошлых <span class='white-selection'>мероприятиях</span>
          .reviews
            ul#review_list
              li
                .review-item
                  .icon-quote-top
                  .icon-quote-bottom
                  p
                    | Спасибо за мероприятие! Практика Days стала первой возможностью в этом году пообщаться с коллегами по цеху. Отмечу очень дружную атмосферу, никакого пафоса крупных отраслевых мероприятий. В то же время – никаких "профессиональных спикеров", только предприниматели, которые делились реальным опытом (не всегда успешным, что даже более ценно). Формат очень понравился, обязательно буду в следующий раз!
                .review-author
                  a(target="_blank" href="https://www.facebook.com/nikolay.khlebinsky?ref=ts&fref=ts") Николай Хлебинский
                  span RetailRocket
              li
                .review-item
                  .icon-quote-top
                  .icon-quote-bottom
                  p
                    | "ПрактикаDays - образовательное мероприятие, которое немного отличается от стандартных конференций. Если честно, вот такого формата консультаций очень не хватало когда мы только запускались. Думаю слушателям было полезно, а открытый и свободный формат (почти все выступали без презентаций) сделали доклады более живыми и насыщенными. Еще отметил для себя, что разные выступления закрыли целый спектр вопросов по разным сферам e-commerce, от насущных проблем интернет магазинщиков, до поиска и привлечения инвестиций. Я сам унес с конференции пару интересных схем в блокноте для идей и искренне порадовался за некоторые проекты от которых были доклады! Если вам интересно познакомиться лично с весьма интересными людьми, получить свежие идеи и ответить на насущные вопросы - цена участия не столь велика!"
                .review-author
                  a(target="_blank" href="https://www.facebook.com/chupin.anton?fref=ts") Антон Чупин
                  span Udivishop.ru
              li
                .review-item
                  .icon-quote-top
                  .icon-quote-bottom
                  p
                    | Мероприятие от Бориса и Давлета - тот волшебный пендель, который может получить любой сомневающийся в вопросе "открыть или не открыть свой ИМ". Простые люди, такие же как и все, делятся своей болью и радостью создания магазина. Очень рекомендую к посещению!
                .review-author
                  a(target="_blank" href="https://www.facebook.com/andrey.khvostov?fref=ts") Андрей Хворостов
                  span Appak.ru
            .expander
              a(href='/reviews.html' class='button button-light') Посмотреть все отзывы


    section#screen-fourteen(class='block white-block map-screen')
      .svg-section
        svg(height="600" width="270")
          line(x1="270" y1="0" x2="0" y2="600")
        svg(height="600" width="270")
          line(x1="270" y1="0" x2="0" y2="600")
      .block-inner
        .box
          ul.time-block
            li
              h2 21
              span июня
            li
              h2 9:00
              span регистрация
            li
              h2 10:00
              span начало
            li
              h2 10
              span часов
          .map-block
            h2 Место проведения
            p
              i.icon-pin
              | Москва, Ditelegraph на м.Охотный ряд, ул. Тверская, д.7, Вход со стороны Газетного переулка, 9 подъезд, 6 этаж.
            .g-map
              | <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2244.9553174998923!2d37.60971483914794!3d55.75927839999789!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a456ffd9027%3A0xaccb2fe99839b629!2z0KLQstC10YDRgdC60LDRjyDRg9C7LiwgNywg0JzQvtGB0LrQstCw!5e0!3m2!1sru!2sru!4v1399712796265"></iframe>


    section#screen-fiveteen(class='block white-block')
      .svg-section
        svg(height="600" width="270")
          line(x1="270" y1="0" x2="0" y2="600")
        svg(height="600" width="270")
          line(x1="270" y1="0" x2="0" y2="600")
        svg(height="600" width="270")
          line(x1="270" y1="0" x2="0" y2="600")
      .block-inner
        h2
          | Стоимость участия в мероприятии <br> в <span class='red-selection'>Москве</span>
        .box
          .title
            h2 4900
            span руб
            div(class="reg-button button button-dark") Регистрация участников
        p
          | Регистрация и резервирование мест на семинар осуществляется по факту поступления оплаты.<br>В стоимость участия в Москве входит:
        .grid
          .column.left-column
            ul
              li
                div(class="icon icon-icon-5")
                p Участие в мероприятии
              li
                div(class="icon icon-icon-7")
                p Возможность задать вопросы выступающим
              li
                div(class="icon icon-icon-4")
                p Возможность наладить полезные деловые связи
          .column.right-column
            ul
              li
                div(class="icon icon-icon-6")
                p 2 кофе-брейка и полноценный обед

              li
                div(class="icon icon-icon-8")
                p Общение в кулуарах
        p.center
          | Ну и конечно же глубокое погружение в атмосферу практики <br> интернет-торговли на целый день
        p
          | В перерывах вы сможете лично пообщаться со всеми участниками мероприятия, задать им вопросы, которые остались за бортом выступления, спросить совет по своему проекту.


    section#screen-eighteen(class='block black-block registration-screen')
      .block-color
        .svg-section
          svg(height="600" width="270")
            line(x1="270" y1="0" x2="0" y2="600")
          svg(height="600" width="270")
            line(x1="270" y1="0" x2="0" y2="600")
          svg(height="6000" width="2700")
            line(x1="2700" y1="0" x2="0" y2="6000")
        .block-inner
          div(id="registration_form" class="form-block")
            h2 Регистрация
            | <script defer="defer" data-timepad-widget-v2="event_register" data-timepad-customized="3231" src="//timepad.ru/js/tpwf/loader/min/loader.js">(function(){return {"event":{"id":"141503"}}; })();</script>


    section#screen-nineteen(class='block white-block')
      .svg-section
        svg(height="600" width="270")
          line(x1="270" y1="0" x2="0" y2="600")
        svg(height="600" width="270")
          line(x1="270" y1="0" x2="0" y2="600")
      .block-inner
        h2
          | Остались <span class='red-selection'>вопросы?</span>
        div(class="button pop-up-button button-dark" id="call_button") Связаться с организатором
        p
          | Остались вопросы? Воспользуйтесь формой «<b>Связаться с организатором</b>» или позвоните нам по телефону <br><b>+7 (495) 726-09-39.</b> Мы будем рады ответить на все интересующие вас вопросы по мероприятию. <br><br> Да прибудет с вами высокая конверсия и полная корзина заказов! <br> До встречи на мероприятии!


    section#screen-twenty(class='block black-block')
      .block-color.dark-block-color
        .svg-section
          svg(height="600" width="270")
            line(x1="270" y1="0" x2="0" y2="600")
          svg(height="600" width="270")
            line(x1="270" y1="0" x2="0" y2="600")
        .block-inner
          h2
            | Чуть не забыли сказать
          p
            | Все участники ПрактикаDays получат презентации выступающих  совершенно бесплатно. При чем как с прошлых мероприятий так и с нового* <br><br>Для того чтобы получить презентации выступающих просто напишите в комментариях следующее:
          .message
            .icon-quote-top
            .icon-quote-bottom
            p
              | Ставлю себе напоминание, что иду на главное практическое мероприятие по интернет-торговле "ПрактикаDays", которое пройдет 4 октября. Да прибудет с нами высокая конверсия. www.praktikadays.ru
          .social-comment-block
            //- vk module
            div.vk
              div(id="vk_comments")
              | <script type="text/javascript">VK.Widgets.Comments("vk_comments", {limit: 10, width: "400", attach: "*"});</script>
            //- fb module
            div.fb
              | <div class="fb-comments" data-href="http://praktikadays.ru/" data-width="400" data-numposts="10" data-colorscheme="light"></div>
          .partners
            div(class="partner-logo logo-1")
              div(class='logo-part-one icon-logo-1')
              div(class='logo-part-two icon-logo-2')
            p
              | ИП Преображенский Борис Александрович <br> Юр. Адрес: 123060, г. Москва, ул. Маршала Соколовского, д2. кв.23 <br> ИНН 773474333368 <br> АКБ "БНКВ" (ЗАО) в г. Москве

    //- Google Analytics
    | <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-51649845-1', 'praktikadays.ru');ga('send', 'pageview');</script>
