doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=0.3')
    title Практика Days
    //- fonts
    | <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
    | <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
    //- styles
    | <link rel="stylesheet" href="/stylesheets/fontcustom.css">
    | <link rel="stylesheet" href="/stylesheets/font-awesome.css">
    | <link rel="stylesheet" href="/stylesheets/style.css">
    //- libraries
    | <script type='text/javascript' src='/scripts/libs/jquery-2.1.1.min.js'></script>
    | <script type='text/javascript' src='/scripts/libs/jquery.browser.min.js'></script>
    | <script type='text/javascript' src='/scripts/libs/jquery-ui-1.10.3.custom.min.js'></script>
    | <script type='text/javascript' src='/scripts/libs/jquery.kinetic.min.js'></script>
    | <script type='text/javascript' src='/scripts/libs/jquery.smoothTouchScroll.min.js'></script>
    | <script type='text/javascript' src='/scripts/libs/jquery.images-ready.js'></script>
    | <script type='text/javascript' src='/scripts/libs/jquery.easing.1.3.js'></script>
    | <script type='text/javascript' src='/scripts/libs/moment.min.js'></script>
    //- app scripts
    | <script type='text/javascript' src='/scripts/app.js'></script>
    | <script type='text/javascript' src='/scripts/models/form.js'></script>
    | <script type='text/javascript' src='/scripts/views/main_view.js'></script>

  body
    header.header.transparent
      .header-inner
        a(href='/' class='logo')
          div(class='logo-part-one icon-logo-1')
          div(class='logo-part-two icon-logo-2')
        .registration-button
          .button.reg-button Регистрация
        ul.social
          li
            a(href="http://instagram.com/internetpraktika" target="_blank" class="inst icon-insta")
          li
            a(href="https://vk.com/public71012625" target="_blank" class="vk icon-vk")
          li
            a(href="https://www.facebook.com/praktikadays?ref=hl" target="_blank" class="fb icon-fb")
        nav
          ul
            li
              a(href='/') Выступающие
            li
              a(href='/') Место проведения
            li
              a(href='/') О Нас
            li
              a(href='/partners.html') Партнеры
            li
              a(href='#') Блог
            li
              a(href='/reviews.html') Отзывы


    section#screen-one(class='block black-block second-page')
      .block-color
        .block-inner


    section#screen-eight(class='block white-block about-screen partners-screen')
      .svg-section
        svg(height="600" width="270")
          line(x1="270" y1="0" x2="0" y2="600")
        svg(height="600" width="270")
          line(x1="270" y1="0" x2="0" y2="600")
      .block-inner
        h2
          | Партнеры <span class='red-selection'>мероприятия</span>
        ul.partners-list
          li
            .circle-block
              .circle
                img(src="images/partner_logos/24.jpg")
              span Генеральный партнер
            .text-block
              .name Новые линии продвижения
              a(class='red-selection' target="_blank" href="http://www.nlp-marketing.ru") http://www.nlp-marketing.ru
              p
                | Агентство интернет-маркетинга «Новые линии продвижения» – это ваш проводник в мире возможностей современного Интернета. Наша компания – устойчивый и надежный партнер для успешного ведения бизнеса. Мы используем только доказавшие свою эффективность способы рекламы в Интернете, ведь сегодня от того, как вы представлены в сети, напрямую зависят прибыли и репутация. Наша миссия – разработка новых методов и инструментов для продвижения сайтов, поиск новых возможностей для того, чтобы при меньших затратах добиваться большей эффективности от рекламы в Интернете. Мы максимально ориентированы на интересы наших клиентов, предлагаем им самые передовые технологии и являемся их «проводниками» в мир возможностей современного Интернета.
          li
            .circle-block
              .circle
                img(src="images/partner_logos/1.jpg")
              span Информационный партнер
            .text-block
              .name PayU
              a(class='red-selection' target="_blank" href="http://payu.ru") http://payu.ru
              p
                | PayU – первый в России международный платежный интегратор, позволяющий осуществлять платежи в интернет-магазинах с использованием популярных средств онлайн-оплаты (банковских карт, электронных кошельков, мобильного телефона, интернет-банка).<br>PayU – успешная работа в 21 стране мира, на 4-х континентах. Более 25 000 подключенных интернет-магазинов. В настоящее время сервис позволяет подключить к любой торговой площадке все самые популярные системы электронных платежей, существующие в России и мире.<br>PayU входит в состав Allegro Group Russia и международного холдинга Naspers, являющегося акционером самых известных мировых интернет-проектов, включая Молоток.Ру. в России. В 2012 году компания PayU признана лучшей платежной системой Польши, Турции и Румынии.
          li
            .circle-block
              .circle
                img(src="images/partner_logos/2.jpg")
              span Информационный партнер
            .text-block
              .name Retailrocket
              a(class='red-selection' target="_blank" href="http://retailrocket.ru") http://retailrocket.ru
              p
                | Retail Rocket (http://retailrocket.ru) – платформа для мультиканальной персонализации интернет-магазина на основе big data. Retail Rocket выявляет потребности посетителей интернет-магазина и в нужный момент делает интересные именно им предложения на сайте, в email и display кампаниях, увеличивая доход интернет-магазина за счет роста конверсии, среднего чека и частоты повторных покупок.
          li
            .circle-block
              .circle
                img(src="images/partner_logos/3.jpg")
              span Информационный партнер
            .text-block
              .name InSales
              a(class='red-selection' target="_blank" href="http://www.insales.ru") http://www.insales.ru
              p
                | InSales.ru – российская платформа для создания интернет-магазинов. На начало 2014 года число интернет-магазинов на платформе InSales.ru превысило 3500 работающих бизнесов из России, Украины, Казахстана и США. Магазины на InSales.ru обработали в 2013 году заказов на сумму более 6 млрд рублей. Суммарная посещаемость магазинов на начало 2014 года составила более 500 000 визитов в сутки, что превышает посещаемость большинства лидеров онлайн-торговли Рунета. На платформе присутствуют, как небольшие интернет-магазины, так и крупные онлайн-ритейлеры, обрабатывающие более 1000 заказов в сутки.
          li
            .circle-block
              .circle
                img(src="images/partner_logos/4.jpg")
              span Информационный партнер
            .text-block
              .name Sociomantic.ru
              a(class='red-selection' target="_blank" href="https://www.sociomantic.ru") https://www.sociomantic.ru
              p
                | Sociomantic — это история о технологиях, совершивших настоящую революцию в сфере медийной рекламы. С помощью нашей интеллектуальной платформы интернет-маркетологи по всему миру генерируют дополнительный объем продаж, достигая результатов в режиме реального времени. Наша точка отсчета — Берлин-’09. Именно тогда основатели Sociomantic объединили свои усилия для создания амбициозного стартапа с большим и ярким будущим. Опыт компании «охватывает» многие страны и континенты, мы говорим на нескольких языках и работаем в разных часовых поясах. Наши услуги востребованы по всему миру: от Австралии до США, от Эстонии до Аргентины, от Индии до Египта. Секрет успеха Sociomantic — сплоченная команда и инновационные технологии. Мы постоянно реинвестируем в развитие бизнеса, непрерывно совершенствуя наши решения и привлекая в команду только лучших мировых специалистов.
          li
            .circle-block
              .circle
                img(src="images/partner_logos/5.jpg")
              span Информационный партнер
            .text-block
              .name Shoplogistic
              a(class='red-selection' target="_blank" href="http://shop-logistics.ru") http://shop-logistics.ru
              p
          li
            .circle-block
              .circle
                img(src="images/partner_logos/6.jpg")
              span Информационный партнер
            .text-block
              .name Alytics
              a(class='red-selection' target="_blank" href="http://www.alytics.ru") http://www.alytics.ru
              p
                | Alytics - платформа для умного управления контекстной рекламой. Alytics помогает увеличивать прибыль от вложений в рекламу Яндекс Директ и Google AdWords, оптимизирует трудозатраты и делает контекстную рекламу эффективнее. Система помогает оптимизировать важнейшие бизнес-показатели, среди которых:количество лидов; стоимость привлечения клиента (CPA); возврат инвестиций (ROI); выручка и Прибыль. Платформа обладает гибким модулем управления ставками, интегрирована со счетчиком Google Analytics, обладает готовыми интеграциями с популярными call-tracking системами, имеет API для подтягивания данных о продажах из внешних CRM. Для Интернет-магазинов в Alytics встроен модуль синхронизации товарных объявлений. На основе УML-выгрузки система умеет: генерировать объявления для каждой карточки товара; выключать объявления для тех товаров, которых нет в наличии; возобновлять показ объявления, если товар появился в наличии; актуализировать информацию о товаре в объявлении, например: цену или условия доставки.
          li
            .circle-block
              .circle
                img(src="images/partner_logos/7.jpg")
              span Информационный партнер
            .text-block
              .name ООО Кросссс
              a(class='red-selection' target="_blank" href="http://crossss.ru") http://crossss.ru
              p
                | Crossss - первая на рынке российская система мерчандайзинга для интернет-магазинов (запущена в тестовую эксплуатацию в октябре 2012 г.). Наша цель - сделать так, чтобы интернет-магазины подстраивались под каждого посетителя и угадывали его желания и возможности.
          li
            .circle-block
              .circle
                img(src="images/partner_logos/8.jpg")
              span Информационный партнер
            .text-block
              .name Бизнес-школа RMA
              a(class='red-selection' target="_blank" href="http://www.rma.ru") http://www.rma.ru
              p
                | Бизнес-школа RMA реализует уникальные образовательные программы для топ-менеджеров в сфере интернет-технологий, шоу-бизнеса, ресторанного и спортивного менеджмента, а также арт-менеджмента и галерейного бизнеса. Главная особенность всех программ -  преподавание ключевых дисциплин педагогами-практиками, добившимися значительных успехов в своих отраслях бизнеса. Ежегодно организуются зарубежные стажировки, направленные на изучение международного опыта в каждой из изучаемых направлений. Менеджмент в сфере интернет-технологий http://www.rma.ru/internet/about_business/ - образовательная программа, синтезирующая фундаментальные знания об управлении интернет-ресурсами и новейшие практические технологии, ориентированная на подготовку как стартаперов, развивающих собственные проекты, так и менеджеров для компаний-лидеров рынка. Лекции для слушателей программы проводят топ-менеджеры крупнейших российских интернет-компаний, таких как Google Russia, Яндекс, Mail.ru, HeadHunter и др
          li
            .circle-block
              .circle
                img(src="images/partner_logos/9.jpg")
              span Информационный партнер
            .text-block
              .name CMS Magazine
              a(class='red-selection' target="_blank" href="http://www.cmsmagazine.ru") http://www.cmsmagazine.ru
              p
                | CMS Magazine - ведущий аналитический портал рынка веб-разработок. Цели проекта «CMS Magazine» - предоставить наиболее полный обзор рынка веб-разработок, стать полноценной площадкой для общения профессиональных веб-разработчиков и их потенциальных клиентов.   Оперативное обновление данных достигается путем непосредственного контакта с большинством разработчиков. Среди читателей «CMS Magazine» как профессиональные участники рынка веб-разработки - руководители и менеджеры компаний, дизайнеры и IT-специалисты, так и все заинтересованные в разработке сайта компании и частные лица. Проект помогает читателям быстро и легко находить максимум нужной информации о веб-студиях и системах управления сайтами.
          li
            .circle-block
              .circle
                img(src="images/partner_logos/10.jpg")
              span Информационный партнер
            .text-block
              .name Sape
              a(class='red-selection' target="_blank" href="http://www.sape.ru") http://www.sape.ru
              p
          li
            .circle-block
              .circle
                img(src="images/partner_logos/11.jpg")
              span Информационный партнер
            .text-block
              .name Top Delivery
              a(class='red-selection' target="_blank" href="http://www.topdelivery.ru") http://www.topdelivery.ru
              p
                | TopDelivery – курьерская служба доставки по всей России, предоставляющая услуги интернет-магазинам. География логистической сети компании включает в себя 800 населенных пунктов в 40 регионах России (от Москвы до Владивостока), а также 35 городов с пунктами самовывоза. TopDelivery предлагает высококачественный сервис как для интернет-магазинов, так и для их покупателей, включающий в себя уникальную IT-систему для работы, расширенную систему оповещения для получателей (по телефону, SMS и электронной почте), прием наличных денежных средств, бесплатную примерку и многое другое.
          li
            .circle-block
              .circle
                img(src="images/partner_logos/12.jpg")
              span Информационный партнер
            .text-block
              .name Searchengines.ru
              a(class='red-selection' target="_blank" href="http://www.searchengines.ru") http://www.searchengines.ru
              p
                | SearchEngines.ru - первый в Рунете ресурс, посвященный поисковым системам и рынку интернет-маркетинга. Новости поисковых систем, аналитика, оригинальные и переводные материалы о продвижении сайтов, комментарии экспертов, дайджест. Календарь событий, которые стоит посетить, обзоры конференций, подробные расшифровки ключевых докладов. Самый большой форум по работе с поисковыми системами, где есть ответы на все вопросы.
          li
            .circle-block
              .circle
                img(src="images/partner_logos/13.jpg")
              span Информационный партнер
            .text-block
              .name The Store
              a(class='red-selection' target="_blank" href="")
              p
          li
            .circle-block
              .circle
                img(src="images/partner_logos/14.jpg")
              span Информационный партнер
            .text-block
              .name Kursrik.ru
              a(class='red-selection' target="_blank" href="http://kursrik.ru") http://kursrik.ru
              p
                | Бизнес-школа РИК уже 4 года готовит профессионалов для интернет-рынка. Основные специализации: управление проектами, маркетинг, PR, управление разработкой. Практикуются различные формы обучения: интенсивы, вебинары, персональный коучинг и консалтинг компаний.
          li
            .circle-block
              .circle
                img(src="images/partner_logos/15.jpg")
              span Информационный партнер
            .text-block
              .name Prograbli.ru
              a(class='red-selection' target="_blank" href="http://prograbli.ru") http://prograbli.ru
              p
                | ПроГрабли – ресурс для тех, кто начинает свой бизнес в интернете. Именно эти люди чаще всего ошибаются, теряют время и средства на решение ненужных задач. Мы рассказываем, как, не наступая на чужие грабли, превратить интернет в простой и удобный инструмент для бизнеса.
          li
            .circle-block
              .circle
                img(src="images/partner_logos/16.jpg")
              span Информационный партнер
            .text-block
              .name Shoppyboom
              a(class='red-selection' target="_blank" href="http://www.shoppyboom.ru") http://www.shoppyboom.ru
              p
                | ShoppyBoom — продажи в социальных сетях.Платформа для создания интернет-магазинов во ВКонтакте, Facebook и Одноклассники.Мы помогаем магазинам получать больше заказов, а их клиентам — совершать покупки не покидая любимую социальную сеть.
          li
            .circle-block
              .circle
                img(src="images/partner_logos/17.jpg")
              span Информационный партнер
            .text-block
              .name Shopolog.ru
              a(class='red-selection' target="_blank" href="http://www.shopolog.ru") http://www.shopolog.ru
              p
                | Клуб умных ритейлеров Shopolog - это сайт об электронной коммерции и интернет-маркетинге. Мы стараемся с одной стороны сохранять методическую направленность блога и рассказать своим читателям о том, как повысить увеличить продажи и повысить эффективность своего интернет-магазина. С другой стороны мы собираем новости рынка, чтобы практикующие менеджеры всегда были в курсе новых продуктов, сервисов, действий конкурентов и коллег по цеху
          li
            .circle-block
              .circle
                img(src="images/partner_logos/18.jpg")
              span Информационный партнер
            .text-block
              .name Smallbusiness.ru
              a(class='red-selection' target="_blank" href="http://smallbusiness.ru") http://smallbusiness.ru
              p
                | Портал предпринимателей SMALLBUSINESS.RU создан в 2009 году как информационная площадка для представителей малого и среднего бизнеса в России, оказывающая поддержку начинающим предпринимателям. Сегодня SMALLBUSINESS.RU — это открытый справочно-информационный ресурс, позволяющий своевременно получать необходимую информацию из области бизнеса и финансов. Портал сотрудничает уже более чем с 200 партнерами, в том числе профильными государственными структурами и организациями в сфере поддержки малого и среднего предпринимательства в различных регионах страны, регулярно обновляется актуальными новостями, авторскими статьями и уникальными интервью с представителями власти, генеральными директорами, руководителями, HR-специалистами и другими экспертами, которые откровенно делятся своим трудовым опытом и бизнес-успехами.
          li
            .circle-block
              .circle
                img(src="images/partner_logos/19.jpg")
              span Информационный партнер
            .text-block
              .name 1GB.ru
              a(class='red-selection' target="_blank" href="http://www.1gb.ru") http://www.1gb.ru
              p
                | Хостинг 1Gb.ru - популярный хостинг для сайтов любой посещаемости. Забота о клиенте, гибкие тарифы, выделенные серверы, облачные технологии. 12 лет на рынке.
          li
            .circle-block
              .circle
                img(src="images/partner_logos/20.jpg")
              span Информационный партнер
            .text-block
              .name Московский Клуб Молодых Предпринимателей
              a(class='red-selection' target="_blank" href="http://www.mosmp.ru") http://www.mosmp.ru
              p
                | Московский Клуб Молодых Предпринимателей – это не молодежное движение, не общественная организация и не политическое объединение. Клуб Молодых Предпринимателей – это закрытое бизнес-сообщество молодых и успешных предпринимателей, основной целью которого является помощь в развитии существующего бизнеса Членов Клуба и создании новых бизнес - проектов.<br>Московский Клуб Молодых Предпринимателей создан в 2007 году и является самым крупным молодежным бизнес - сообществом г. Москвы,   на данный момент в Клубе состоит более 1300 молодых и успешных предпринимателей.
          li
            .circle-block
              .circle
                img(src="images/partner_logos/21.jpg")
              span Информационный партнер
            .text-block
              .name BusinessLife.Today
              a(class='red-selection' target="_blank" href="http://businesslife.today") http://businesslife.today
              p
                | BusinessLife.Today – это лучшие мероприятия в СНГ. Все события бизнес-формата теперь на одном веб-сайте. Наш главный приоритет - оперативная информация. Будьте в курсе бизнес-событий! Проект был создан группой российских и украинских редакторов осенью прошлого года. Формат является уникальным в сфере онлайн СМИ не только СНГ, но и Европы. BusinessLife.Today – это новаторское сочетание деловой и светской прессы!
          li
            .circle-block
              .circle
                img(src="images/partner_logos/22.jpg")
              span Информационный партнер
            .text-block
              .name IntaroCRM
              a(class='red-selection' target="_blank" href="https://www.intarocrm.ru/?utm_campaign=practicdays") https://www.intarocrm.ru
              p
                | IntaroCRM - это специализированная CRM для интернет-магазинов. Создана для автоматизации и оптимизации работы интернет-магазина. С помощью IntaroCRM можно ускорить обработку заказов, повысить лояльность клиентов, сократить количество отказов и брошенных корзин, увеличить средний чек. Система интегрируется с множеством сервисов для ecommerce: CMS, IP-телефонией, службами доставки и складами, инструментами веб-аналитики и другими. Таким образом, за всеми процессами можно следить в рамках одной системы.
          li
            .circle-block
              .circle
                img(src="images/partner_logos/23.jpg")
                p Календарь IT-мероприятий
              span Информационный партнер
            .text-block
              .name Runet-id.com
              a(class='red-selection' target="_blank" href="http://runet-id.com") http://runet-id.com
              p
                | RUNET-ID — крупнейший российский интернет-ресурс, посвященный отечественной интернет-отрасли. В новой версии портал объединил в себе календарь основных мероприятий Рунета, отраслевое СМИ, видео, а также базу вакансий в интернет-компаниях. Сегодня на портале зарегистрировано порядка 200 тысяч профессионалов IT, медиа и бизнеса. Обновленный проект предлагает своим посетителям более удобную структуру, которая соберет все необходимые интернет-профессионалу разделы в рамках одной сетевой площадки.
          li
            .circle-block
              .circle
                img(src="images/partner_logos/25.jpg")
              span Информационный партнер
            .text-block
              .name Национальная Ассоциация Дистанционной Торговли (НАДТ)
              a(class='red-selection' target="_blank" href="http://namo.ru") http://namo.ru
              p
                | Национальная Ассоциация Дистанционной Торговли (НАДТ) - старейшая некоммерческая организация, стоящая на страже интересов российских компаний дистанционной торговли и электронной коммерции.Более 2-х десятков лидеров российской электронной коммерции объединились в Ассоциацию, чтобы решать самые значимые проблемы отечественного рынка: <br>1. Нормативно-правовое регулирование дистанционной торговли; <br>2. Логистика и развитие каналов коммуникации; <br>3. Популярность дистанционного способа продажи товаров в России. <br>Логотип Ассоциации является признанной маркой доверия и высокого качества сервиса, оказываемого предприятиями-членами Ассоциации.
          li
            .circle-block
              .circle
                img(src="images/partner_logos/26.jpg")
              span Информационный партнер
            .text-block
              .name LPGenerator
              a(class='red-selection' target="_blank" href="http://lpgenerator.ru") http://lpgenerator.ru
              p
                | SaaS технологии привлечения клиентов для Вашего бизнеса. Автоматизированные маркетинговые технологии конвертации входящего трафика и генерации лидов с помощью целевых страниц.
          li
            .circle-block
              .circle
                img(src="images/partner_logos/27.jpg")
              span Информационный партнер
            .text-block
              .name Оптимизм.ру
              a(class='red-selection' target="_blank" href="http://www.optimism.ru") http://www.optimism.ru
              p
                | Компания «Оптимизм» начала свой путь в 2000 году и сейчас является одним из лидеров SEO-компаний в России. «Оптимизм» предлагает услуги в области контекстной и медийной рекламы, создания и оптимизации сайтов, веб-аналитики, продвижения в социальных сетях и разработки интернет-стратегий. Наши специалисты будут рады предоставить Вам в подарок usability-аудит. Свяжитесь с нами по номеру: +7 (495) 225-54-72 или напишите по почте: info@optimism.ru «Оптимизм» входит в группу компаний «Element Group» наряду с известными брендами «Блогун» и «Greenpr».
          li
            .circle-block
              .circle
                img(src="images/partner_logos/28.jpg")
              span Информационный партнер
            .text-block
              .name Adlabs
              a(class='red-selection' target="_blank" href="http://www.adlabs.ru") http://www.adlabs.ru
              p
                | Группа компаний ADLABS предоставляет комплексные услуги интернет-маркетинга с 2000 года. Огромный опыт, штат квалифицированных специалистов, передовые технологии рынка и эксклюзивные собственные разработки позволяют ADLABS на самом высоком уровне оказывать весь комплекс услуг по развитию бизнеса в Интернете.
          li
            .circle-block
              .circle
                img(src="images/partner_logos/29.jpg")
                p При поддержке
              span Информационный партнер
            .text-block
              .name Раэк
              a(class='red-selection' target="_blank" href="http://raec.ru/commission/679") http://raec.ru
              p

          li
            .circle-block
              .circle
                img(src="images/partner_logos/30.jpg")
              span Информационный партнер
            .text-block
              .name Expozilla
              a(class='red-selection' target="_blank" href="http://expozilla.ru") http://expozilla.ru
              p
                | Expozilla - актуальный календарь предстоящих IT-мероприятий и архив состоявшихся. Документы, отчеты, фото- и видеоматериалы.
          li
            .circle-block
              .circle
                img(src="images/partner_logos/31.jpg")
              span Информационный партнер
            .text-block
              .name Media-Online
              a(class='red-selection' target="_blank" href="http://www.media-online.ru") http://www.media-online.ru
              p
                | Информационно-новостной портал Media-Online посвящен индустрии медиа и рекламы. На страницах издания Вы узнаете последние российские и мировые новости медиа - и рекламной индустрии из первых рук. Ознакомитесь с аналитикой, тенденциями развития и прогнозами рынка от ведущих экспертов и специалистов рекламы и медиа. Для профессионалов рынка портал предлагает наиболее полный и активно развивающийся каталог медианосителей России и стран СНГ. Интернет портал Media-Online является одним из информационных Холдинга "Pro Media Communication Partners".
          li
            .circle-block
              .circle
                img(src="images/partner_logos/32.jpg")
              span Информационный партнер
            .text-block
              .name Jobmax.ru
              a(class='red-selection' target="_blank" href="http://www.jobmax.ru") http://www.jobmax.ru
              p
                | Jobmax.ru - эффективный и простой ресурс по трудоустройству и подбору персонала по всей России. При помощи нашего ресурса тысячи компаний подобрали высококвалифицированых сотрудников, а соискатели устроились на перспективную работу. Кроме того, сайт Jobmax.ru является результативным PR инструментом для бизнеса, ведь его посещаемость уже превысила 1 500 000 просмотра главной страницы. База резюме соискателей ежедневно пополняется на 1000 резюме, а значит все больше соискателей доверяют нам в руки судьбе своего трудоустройтсва. Мы не гонимся за количеством, а стремимся сохранить и повысить качество наших услуг. Jobmax.ru - Ваш билет в успех!
          li
            .circle-block
              .circle
                img(src="images/partner_logos/33.jpg")
              span Информационный партнер
            .text-block
              .name Careerist.ru
              a(class='red-selection' target="_blank" href="http://www.careerist.ru") http://www.careerist.ru
              p
                | Careerist.ru - современный ресурс по трудоустройству и подбору персонала. Кадры действительно решают все, поэтому команда Careerist.ru неустанно работает над пополнением базы резюме, которая уже превышает 500 000 контактов, а это значит, что сотни тысяч человек доверяют нам свою карьеру. Резюме всех соискателей проходят ручную модерацию. Мы предоставляем свежую аналитику рынка труда России, следим за тенденциями и новинками и делимся с нашими пользователями информацией о самых интересных мероприятиях. Кроме того, сайт Careerist.ru - это результативный PR инструмент: более 1 500 000 просмотров главной страницы. Развивайтесь вместе с Careerist.ru!
          li
            .circle-block
              .circle
                img(src="images/partner_logos/34.jpg")
              span Информационный партнер
            .text-block
              .name TimeofNewz.ru
              a(class='red-selection' target="_blank" href="http://timeofnewz.ru") http://timeofnewz.ru
              p
                | «TimeofNewz.ru» — это крупнейший информационный портал о мероприятиях и мире IT в Рунете. Ежедневно тысячи людей доверяют нам в выборе тех эвентов, которые стоит посетить, и тех новостей, за которыми интересно следить. На данный момент мы один из самых популярных ресурсов по информационной поддержке различного типа мероприятий. Ежедневно мы заключаем партнерские соглашения с их организаторами по всему миру, чтобы иметь возможность рассказывать обо всем первыми. Зарекомендовав себя как лучшие в своем деле, уже не первый год оказываем поддержку самым крупным из них в России, а также странах ближнего и дальнего зарубежья. Тем самым сделав это одним из главных направлений работы проекта, выведя понятие подобного типа сотрудничества на новый качественный и профессиональный уровень. Вся наша работа направлена для достижения единственной цели: сделать глобальную сеть Интернет лучше.
          li
            .circle-block
              .circle
                img(src="images/partner_logos/35.jpg")
              span Информационный партнер
            .text-block
              .name Elama.ru
              a(class='red-selection' target="_blank" href="http://elama.ru") http://elama.ru
              p
                | Сервис для автоматизации работы с контекстной рекламой, который позволяет создавать и запускать рекламные кампании одновременно в Яндекс.Директ, Бегун и Google AdWords. еЛама бесплатно предоставляет рекламодателям дополнительные полезные инструменты, которых нет в контекстных системах. За счет них рекламодатель может повысить эффективность рекламы на 30-50%.
          li
            .circle-block
              .circle
                img(src="images/partner_logos/36.jpg")
              span Информационный партнер
            .text-block
              .name Trinet
              a(class='red-selection' target="_blank" href="http://www.trinet.ru") http://www.trinet.ru
              p
                | Интернет-агентство TRINET работает на рынке веб-разработки с 2000 г. и входит в ТОР-30 веб-студий в России. Является организатором Санкт-Петербургской Интернет-Конференции, ежемесячно проводит семинары по интернет-маркетингу в Санкт-Петербурге. За годы работы компания выполнила более 200 проектов (Natur Produkt, К-Раута, Балтимор, Оранж, Адамант, Campanella и др.) и стала многократным призером различных профессиональных конкурсов.
          li
            .circle-block
              .circle
                img(src="images/partner_logos/37.jpg")
              span Информационный партнер
            .text-block
              .name Альпина Паблишер
              a(class='red-selection' target="_blank" href="http://www.alpinabook.ru/?av=1") http://www.alpinabook.ru
              p
                | «АЛЬПИНА ПАБЛИШЕР» — ведущее российское издательство, выпускающее деловую и профессиональную литературу в бумажном и электронном виде. Каждый месяц мы издаем около 50 наименований книг суммарным тиражом до 150 000 экземпляров. Каждый день наши книги помогают сотням тысяч людей повышать свой профессиональный уровень. Издания «АЛЬПИНЫ ПАБЛИШЕР» находятся в личных библиотеках большинства российских предпринимателей и топ-менеджеров. Миссия издательства «АЛЬПИНА ПАБЛИШЕР» — давать знания для личной и профессиональной самореализации. Мы искренне хотим, чтобы наши книги смогли сделать российский бизнес прочнее и эффективнее, наше общество — более свободным и открытым, а наших читателей — более уверенными, профессиональными и независимыми. Ведь только самостоятельный и частный бизнес способен создать сильную экономику и прочное государство.
          li
            .circle-block
              .circle
                img(src="images/partner_logos/38.jpg")
              span Информационный партнер
            .text-block
              .name CoMagic
              a(class='red-selection' target="_blank" href="http://www.comagic.ru/?utm_source=praktikadays&utm_medium=pr&utm_campaign=praktikadays_ru") http://www.comagic.ru
              p
                | CoMagic – это комплексное решение c возможностью анализа эффективности онлайн и офлайн-рекламы. В сервисе CoMagic представлены следующие способы связи с посетителями: <br>- онлайн-консультант, <br>- обратный звонок с сайта Сайтфон, <br>- лидогенерация, <br>- телефонный звонок на базе виртуальной АТС. <br> Основными аналитическими инструментами сервиса CoMagic являются статический и динамический колл-трекинг (отслеживание телефонных звонков). С CoMagic вы сможете оптимизировать расходы на рекламу, контролировать отдел продаж, проводить подробный анализ звонков, быть на связи с посетителями (даже в офлайн-режиме с помощью лидогенерации), увидеть реальную отдачу от каждой рекламной кампании, узнать стоимость каждого привлеченного посетителя.
          li
            .circle-block
              .circle
                img(src="images/partner_logos/39.jpg")
              span Информационный партнер
            .text-block
              .name ExpoMap.ru
              a(class='red-selection' target="_blank" href="http://expomap.ru") http://expomap.ru
              p
                | ExpoMap.ru – информационный портал, посвященный выставкам, конференциям и конгрессно-выставочному бизнесу. База данных ресурса содержит более 45 тыс. выставок, проходящих как в России и СНГ, так и по всему миру. Своим посетителям ExpoMap.ru предлагает удобный поиск и рубрикатор событий – по тематикам, странам, городам и другим критериям, а также личные кабинеты, всевозможные выставочные сервисы, онлайн-консультации, свежие новости и статьи из мира выставок. Наши основные направления деятельности – это помощь в организации участия в зарубежных выставках, бизнес-туризм, рекламные кампании по всему миру, заочное (удаленное) представление интересов на выставках, выставочный консалтинг, услуги переводчиков и гидов за рубежом.
          li
            .circle-block
              .circle
                img(src="images/partner_logos/40.jpg")
              span Информационный партнер
            .text-block
              .name E-pepper.ru
              a(class='red-selection' target="_blank" href="http://www.e-pepper.ru") http://www.e-pepper.ru
              p
                | E-pepper.ru - журнал об электронной коммерции в России.
          li
            .circle-block
              .circle
                img(src="images/partner_logos/41.jpg")
              span Информационный партнер
            .text-block
              .name Markito.ru
              a(class='red-selection' target="_blank" href="http://markito.ru") http://markito.ru
              p
                | Markito.ru - сервис достоверных отзывов об интернет-магазинах.
          li
            .circle-block
              .circle
                img(src="images/partner_logos/42.jpg")
              span Информационный партнер
            .text-block
              .name Интернет в цифрах
              a(class='red-selection' target="_blank" href="http://www.in-numbers.ru") http://www.in-numbers.ru
              p


    section#screen-twelve(class='block black-block photoalbum-second')
      .block-color
        .svg-section
          svg(height="600" width="270")
            line(x1="270" y1="0" x2="0" y2="600")
          svg(height="600" width="270")
            line(x1="270" y1="0" x2="0" y2="600")
        .block-inner
          h2
            | Фотографии с прошлого <span class="white-selection">Практика Days</span>
        .album-container
          #photoalbum.photoalbum
            .photo
              img(src='../images/photo/1.jpg')
            .photo
              img(src='../images/photo/2.jpg')
            .photo
              img(src='../images/photo/3.jpg')
            .photo
              img(src='../images/photo/4.jpg')
            .photo
              img(src='../images/photo/5.jpg')
            .photo
              img(src='../images/photo/6.jpg')
            .photo
              img(src='../images/photo/7.jpg')
            .photo
              img(src='../images/photo/8.jpg')
            .photo
              img(src='../images/photo/9.jpg')
            .photo
              img(src='../images/photo/10.jpg')
            .photo
              img(src='../images/photo/11.jpg')
            .photo
              img(src='../images/photo/12.jpg')
            .photo
              img(src='../images/photo/13.jpg')
            .photo
              img(src='../images/photo/14.jpg')
            .photo
              img(src='../images/photo/15.jpg')
            .photo
              img(src='../images/photo/16.jpg')
            .photo
              img(src='../images/photo/17.jpg')
            .photo
              img(src='../images/photo/18.jpg')
          .link-to-photoalbum
            a(href="#" class="button button-light reg-button")
              | Посмотреть все фото
              | <i class="fa fa-arrow-right fa-red"></i>
          .partners
            div(class="partner-logo logo-1")
              div(class='logo-part-one icon-logo-1')
              div(class='logo-part-two icon-logo-2')
            p
              | ИП Преображенский Борис Александрович <br> Юр. Адрес: 123060, г. Москва, ул. Маршала Соколовского, д2. кв.23 <br> ИНН 773474333368 <br> АКБ "БНКВ" (ЗАО) в г. Москве

    //- Google Analytics
    | <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-51649845-1', 'praktikadays.ru');ga('send', 'pageview');</script>

