@import "jeet"
@import "reset/reset"
@import "mixins"
@import "fonts"
@import "style"
@import "ui"
@import "lines"
@import "header"
@import "mozilla"
@import "screens/scr_1"
@import "screens/scr_2"
@import "screens/scr_3"
@import "screens/scr_4"
@import "screens/scr_5"
@import "screens/scr_6"
@import "screens/scr_7"
@import "screens/scr_8"
@import "screens/scr_10"
@import "screens/scr_11"
@import "screens/scr_12"
@import "screens/scr_13"
@import "screens/scr_14"
@import "screens/scr_15"
@import "screens/scr_18"
@import "screens/scr_19"
@import "screens/scr_20"
@import "screens/reviews"
