$font = 'PT Sans Narrow'

h1
  font-family: $font
  font-size: 63px
  font-weight: 700
  text-transform: uppercase
  letter-spacing: 4px
  line-height: 69px

h2
  @extend h1
  font-weight: 400

h3
  font-family: $font
  font-size: 30px
  font-weight: 400
  line-height: 1.2

h4
  font-size: 36px
  margin: 0 0 10px 0

p
  font-family: $font
  line-height: 1.2
  font-size: 24px

  &.center
    text-align: center

span
  font-family: $font

a
  font-family: $font
