.svg-section
  position: absolute
  width: 1024px
  height: 100%
  left: 50%
  margin-left: -480px

  svg
    position: absolute
    stroke-width: 2px

.black-block
  svg
    stroke: #fff

.white-block
  svg
    stroke: $redLightColor

#screen-one
  svg
    &:nth-child(1)
      top: 300px
      left: -250px
    &:nth-child(2)
      top: -570px
      right: 250px
    &:nth-child(3)
      bottom: 0px
      left: 800px

#screen-two
  svg
    &:nth-child(1)
      top: -500px
      right: -250px
    &:nth-child(2)
      top: 130px
      left: -150px

#screen-three
  svg
    &:nth-child(1)
      top: 300px
      left: -250px
    &:nth-child(2)
      top: -370px
      right: 0px
    &:nth-child(3)
      bottom: -150px
      left: 700px

#screen-four
  svg
    &:nth-child(1)
      top: 500px
      left: 200px

#screen-five
  svg
    &:nth-child(1)
      top: -200px
      right: -70px
    &:nth-child(2)
      top: -200px
      right: 100px

#screen-six
  svg
    stroke: #fff

    &:nth-child(1)
      top: -510px
      right: -70px
    &:nth-child(2)
      top: 200px
      left: -300px

#screen-seven
  svg
    &:nth-child(1)
      top: -500px
      right: -100px
    &:nth-child(2)
      top: 700px
      left: -300px
    &:nth-child(3)
      top: 1200px
      left: -300px
    &:nth-child(4)
      top: 1500px
      right: -300px

  &.partners-screen
    svg
      &:nth-child(1)
        top: 600px
        right: -400px
      &:nth-child(2)
        top: 200px
        left: -350px

#screen-eight
  svg
    &:nth-child(1)
      top: -200px
      right: -70px
    &:nth-child(2)
      top: -200px
      right: 100px

#screen-nine
  svg
    position: absolute

#screen-ten
  svg
    &:nth-child(1)
      top: 250px
      left: -330px
    &:nth-child(2)
      top: -350px
      right: 0px

#screen-eleven
  svg
    &:nth-child(1)
      top: 250px
      left: -330px
    &:nth-child(2)
      top: -400px
      right: 0px

#screen-twelve
  svg
    &:nth-child(1)
      top: 0px
      left: -330px
    &:nth-child(2)
      top: -200px
      right: -100px

#screen-thirteen
  svg
    &:nth-child(1)
      top: -50px
      right: -167px
    &:nth-child(2)
      top: 450px
      right: 900px
    &:nth-child(3)
      bottom: -530px
      right: 200px

#screen-fourteen
  svg
    stroke: #fff

    &:nth-child(1)
      top: -510px
      right: -70px
    &:nth-child(2)
      top: 200px
      left: -300px

#screen-fiveteen
  svg
    &:nth-child(1)
      top: 100px
      right: -250px
    &:nth-child(2)
      bottom: -100px
      right: 1000px
    &:nth-child(3)
      top: -530px
      right: 200px

#screen-sixteen
  svg
    &:nth-child(1)
      top: -450px
      right: -170px
    &:nth-child(2)
      bottom: -400px
      right: 1050px

#screen-seventeen
  svg
    &:nth-child(1)
      top: -300px
      right: -400px
    &:nth-child(2)
      bottom: -400px
      right: 1050px

#screen-eighteen
  svg
    &:nth-child(1)
      top: -250px
      right: 100px
    &:nth-child(2)
      bottom: -100px
      right: 1050px
    &:nth-child(3)
      bottom: -10px
      left: 800px

#screen-nineteen
  svg
    &:nth-child(1)
      top: -450px
      right: -170px
    &:nth-child(2)
      bottom: -450px
      right: 1050px

#screen-twenty
  svg
    &:nth-child(1)
      top: -450px
      right: -170px
    &:nth-child(2)
      top: 700px
      right: 1050px
