body.mozilla
  #screen-one
    .logo
      top: 0px

    .payu
      top: 5px

    .scroll-button
      .icon-scroll
        top: 0px

  #screen-four
    ul
      li
        .circle
          i
            top: -8px

  .social
    li
      margin: 0px 7px

  #screen-ten
    .icon-person
      float: left
      font-size: 270px
      margin: 50px 0 0 0

  #screen-eleven
    .clock
      margin-top: 0

  #screen-thirteen
    .reviews
      ul
        li
          .icon-quote-top
            top: 10px

  #screen-fourteen
    .box
      .time-block
        li
          span
            top: -10px

  #screen-fiveteen
    .grid
      li
        &:nth-child(1)
          div
            top: 0
        &:nth-child(2)
          div
            top: 0
        &:nth-child(3)
          div
            top: 0
        &:nth-child(4)
          div
            top: 0
        &:nth-child(5)
          div
            top: 0
        &:nth-child(6)
          div
            top: -10px

  #screen-seventeen
    .partners
      .logo-1
        top: -10px

      .logo-2
        top: 7px

  #screen-twenty
    .message
      .icon-quote-top
        top: 10px
