$greyDarkColor = #3b3b3b
$redLightColor = #f2333a
$greyColor = #878787
$greyDarkColor = #3b3b3b

html
  margin: 0px auto
  padding: 0px

body
  width: 100%
  heigth: auto
  background-color: #fff
  font-family: $fontOne, sans-serif
  overflow: auto

  &.fixed
    overflow: hidden

  ul
  li
    list-style-type: none

  a
    cursor: pointer
    color: inherit
    text-decoration: none

*.red-selection
  color: $redLightColor
  font-size: inherit

*.white-selection
  font-weight: 400
  font-size: inherit

.block
  width: 100%
  position: relative
  overflow: hidden
  background-size: cover
  background-repeat: no-repeat
  background-position: center center

  &.black-block
    color: #fff

  &.white-block
    color: $greyDarkColor

  .block-color
    width: 100%
    height: 100%
    background-color: rgba(#333, 0.8)

  .block-inner
    width: 1024px
    height: 100%
    margin: 0 auto
    box-sizing: border-box
    padding: 110px 0 90px 0
    position: relative
    z-index: 50

    &::after
      height: 0
      content: ''
      display: block
      clear: both

  .container
    width: 100%
    box-sizing: border-box
    padding: 90px 0
